<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletContextDemo</display-name>

<servlet>
<servlet-name>ConfigServlet</servlet-name>
<servlet-class>com.yash.servlet.ConfigServlet</servlet-class>

<init-param> 
<param-name>email</param-name>
<param-value>jpradyumn67@gmail.com</param-value>
</init-param>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>ConfigServlet</servlet-name>
 <url-pattern>/ConfigServlet</url-pattern>
 </servlet-mapping>
 </web-app>
 