<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ReportServletProjects</display-name>
  <servlet>
  <servlet-name>employeeServlet</servlet-name>
  <servlet-class>com.yash.servlet.EmpReportServlet</servlet-class>
  </servlet>
<servlet-mapping>
 <servlet-name>employeeServlet</servlet-name>
<url-pattern>/Employee</url-pattern>
</servlet-mapping>
</web-app>